<div class="sibbo-layout">
    <div class="sibbo-closex">
        <div id="closeButton" class="sibbo-closex__icon">
            &#10005;
        </div>
    </div>
    <div class="sibbo-panel">
        <div class="sibbo-panel__main">
            <div class="sibbo-panel__main__text sibbo--welcome__text">
                {{{mainText}}}
            </div>
            <div class="sibbo-panel__aside sibbo-panel__aside--main">
                <div class="sibbo-panel__aside__buttons">
                    <a
                        href="#"
                        class="sibbo-cmp-button sibbo-cmp-button--xl"
                        data-focus
                        data-green
                        data-accept-all
                    >
                        {{accept}}
                    </a>
                    <a
                        href="#"
                        class="sibbo-cmp-button sibbo-cmp-button--xl sibbo-cmp-button__secondary"
                        data-yellow
                    >
                        {{moreOptions}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>